/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
h1 {
  color: black;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0 4%;
  font-size: 65.2%;
}
.fontStyle {
  color: black;
  font-size: 1.6rem;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
p {
  color: black;
  font-size: 1.6rem;
  line-height: 2rem;
}
header {
  border: null;
  display: flex;
}
header div.header {
  width: 60%;
}
header nav {
  border: null;
  width: 40%;
  margin: 2% 0;
  display: flex;
  justify-content: space-between;
}
header nav a {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
}
section.main {
  background: #E9ECEF;
  padding: 7% 4%;
}
section.main img {
  width: 40%;
}
section.main h1 {
  margin-top: 1%;
  font-size: 3rem;
  border: null;
}
section.main h3 {
  font-size: 2rem;
  padding: 5% 0;
  border-bottom: 1px solid lightgray;
}
section.main p {
  font-size: 1.6rem;
  margin: 5% 0;
}
section.main button {
  color: black;
  font-size: 1.6rem;
  background: gray;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 1%;
}
/******************info section*********************/
section.info {
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
}
section.info div.listen {
  border: null;
  width: 48%;
}
section.info div.listen h2 {
  font-size: 2.5rem;
  margin: 5% 0;
}
section.info h3 {
  font-size: 2rem;
}
section.info div.stuff {
  border: null;
  width: 48%;
}
section.info div.stuff p {
  border: 1px solid lightgray;
  padding: 5%;
  border-collapse: collapse;
}
/*********************work history*********************/
section.history {
  margin: 5% 0;
}
section.history h2 {
  font-size: 2rem;
}
section.history table {
  border-collapse: collapse;
  width: 100%;
  height: 20rem;
  text-align: left;
  vertical-align: middle;
}
section.history table tr {
  width: 100%;
}
section.history table tr:nth-child(even) {
  background: #F2F2F2;
}
section.history table th {
  font-weight: bold;
  font-size: 1.6rem;
  vertical-align: middle;
}
section.history table tr {
  font-size: 1.6rem;
  vertical-align: middle;
  border-top: 1px solid lightgray;
}
section.history table td {
  vertical-align: middle;
}
footer {
  background: #808080;
  font-weight: bold;
  text-align: center;
  padding: 3%;
}
footer p {
  color: white;
}
@media (max-width: 500px) {
  header div.header {
    display: none;
  }
  header nav {
    width: 100%;
  }
  section.info {
    border: null;
    display: flex;
    flex-direction: column;
  }
  section.info div.listen {
    width: 100%;
    margin: 5% 0;
  }
  section.info div.stuff {
    width: 100%;
  }
}
